/* Base styles for About */
.about {
  text-align: center;      
  padding: 1px 1px;          
  min-height: 100vh;         
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;      
  transition: background-color 0.3s, color 0.3s; 
}

/* Dark theme specific styles */
body.dark .about {
  background-color: #000000;  
  color: white;             
}

body.dark .about h1 {
  font-size: 3em;             
  color: #ffffff;             
  font-family: 'Outfit', sans-serif; 
  font-weight: 100;
  margin-bottom: 20px;
}

/* Light theme specific styles */
body.light .about {
  background-color: #f5f5f5;  
  color: #111;                
}

body.light .about h1 {
  font-size: 3em;            
  color: #111;               
  font-family: 'Outfit', sans-serif; 
  font-weight: 100;
  margin-bottom: 20px;
}