/* Base styles for Home ......Made By Angel Landing page */
.home {
  text-align: center;
  padding: 1px 1px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Intro Section - Flexbox layout */
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin-top: 50px;
}

.intro .text {
  flex: 1;
  text-align: left;
  padding-right: 30px;
}

.intro .text h1 {
  font-size: 4rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  color: #333;
}

.intro .text p {
  font-size: 2.3rem;
  color: #555;
  font-weight: 300;
}

/* Typewriter Effect */
.typewriter-wrapper {
  display: inline-block;
  font-weight: 500;
  color: #ff0000;
  border-right: 3px solid #ff0000;
  padding-right: 4px;
  animation: blink 0.75s step-end infinite;
}

/* Keyframe for blinking cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.intro .image {
  flex: 1;
}

/* Zoom effect on image */
.intro .image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
}

.intro .image img:hover {
  transform: scale(1.1); /* Zoom in the image by 10% on hover */
}

/* Dark theme specific styles */
body.dark .home {
  background-color: #000000;
  color: white;
}

body.dark .intro .text h1 {
  color: #fff;
}

body.dark .intro .text p {
  color: #ccc;
}

/* Light theme specific styles */
body.light .home {
  background-color: #f5f5f5;
  color: #111;
}

body.light .intro .text h1 {
  color: #111;
}

body.light .intro .text p {
  color: #333;
}

/* Media Queries for responsiveness */

/* For tablets and smaller devices (600px or less) */
@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .intro .text {
    text-align: center;
    padding-right: 0;
  }

  .intro .text h1 {
    font-size: 2.8rem;
  }

  .intro .text p {
    font-size: 1.4rem;
  }
  .typewriter-wrapper {
    font-size: 1.4rem;
  }
}

/* For smaller mobile devices (450px or less) */
@media (max-width: 450px) {
  .intro .text h1 {
    font-size: 2.2rem;
  }

  .intro .text p {
    font-size: 1.4rem;
  }
  .typewriter-wrapper {
    font-size: 1.2rem;
  }
}
