/* Base styles for Home */
.home {
  text-align: center;        /* Center the content horizontally */
  padding: 1px 1px;          /* Add padding */
  min-height: 100vh;         /* Ensure the page covers the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center;       /* Center content horizontally */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

/* Dark theme specific styles */
body.dark .home {
  background-color: #000000;  /* Black background for dark theme */
  color: white;               /* White text color */
}

body.dark .home h1 {
  font-size: 3em;             /* Larger font size for the heading */
  color: #ffffff;             /* White color for the heading */
  font-family: 'Outfit', sans-serif; /* Apply 'Outfit' font */
  font-weight: 100;
  margin-bottom: 20px;
}

/* Light theme specific styles */
body.light .home {
  background-color: #f5f5f5;  /* Light background for light theme */
  color: #111;                /* Dark text color */
}

body.light .home h1 {
  font-size: 3em;             /* Larger font size for the heading */
  color: #111;                /* Dark color for the heading */
  font-family: 'Outfit', sans-serif; /* Apply 'Outfit' font */
  font-weight: 100;
  margin-bottom: 20px;
}
