.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Outfit', sans-serif;
    margin-top: 40px;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
