/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  background-color: #333;
  color: white;
  position: relative; 
}

.footer p {
  font-size: 1.2rem;
  margin-top: 10px;
}
.right {
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 0.8rem; 
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: flex-start; /* Align icons to the left */
  font-size: 30px;
}

.footer-links {
  display: flex;
  gap: 15px;
  justify-content: flex-end; /* Align links to the right */
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  color: #8c00c4;
}

/* Dark theme specific styles for footer */
body.dark .footer {
  background-color: #eb0f0f;
  color: #ccc;
}

body.dark .social-icons a {
  color: #ffffff;
}

body.dark .social-icons a:hover {
  color: #000000;
}

/* Light theme specific styles for footer */
body.light .footer {
  background-color: #ff0000;
  color: #111;
}

body.light .social-icons a {
  color: #111;
}

body.light .social-icons a:hover {
  color: #ff0000;
}

/* Media Queries for mobile responsiveness */

/* For mobile devices (600px or less) */
@media (max-width: 600px) {
  .footer {
    flex-direction: column; 
    text-align: center;
    padding: 20px;
  }

  .footer p {
    font-size: 1rem; 
    margin-top: 10px; 
    position: relative;
    margin-right: auto;
  }
  
  .social-icons {
    flex-direction: row; 
    gap: 20px; 
    font-size: 30px;
    margin-bottom: 20px; 
    justify-content: center; 
  }

  .footer-links {
    flex-direction: row; 
    gap: 10px; 
    margin-top: 10px;
    justify-content: center; 
    
  }
}
