/* Navbar styles */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Outfit', sans-serif;
}

.navbar.dark {
  background-color: #000000;
  color: white;
}

.navbar.light {
  background-color: #fff;
  color: #111;
}

.navbar-logo {
  font-size: 24px;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 20px;
}

.navbar-item {
  text-decoration: none;
  color: inherit;
  font-family: 'Outfit', sans-serif;
}

.navbar-item:hover {
  color: #ddd;
}

.active {
  font-weight: 200;
  color: #ff0000;
}

/* Theme Switcher styles */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px; /* Desktop size */
  height: 30px; /* Desktop size */
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.theme-switch .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px; /* Desktop size */
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.theme-switch input:checked + .slider {
  background-color: #0385f7;
}

.theme-switch input:checked + .slider:before {
  transform: translateX(30px);
}

/* Dark Theme specific styles */
.navbar.dark .theme-switch .slider {
  background-color: #ff0000;
}

.navbar.dark .theme-switch input:checked + .slider {
  background-color: #ff0000;
}

.navbar.dark .theme-switch input:checked + .slider:before {
  transform: translateX(30px);
}

/* Mobile Sidebar Styles */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 28px;
}

.nav-links {
  list-style: none;
}

.nav-links.open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #111;
  color: white;
  padding-top: 60px;
  z-index: 999;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links.open li {
  padding: 15px;
  text-align: center;
}

.nav-links.open li a {
  color: white;
}

.nav-links.open .theme-switch {
  display: block;
  padding-top: 20px;
}

/* Close Button Color */
.hamburger i {
  color: white; /* Default color */
}

.navbar.dark .hamburger i {
  color: white; /* Dark theme color */
}

.navbar.light .hamburger i {
  color: black; /* Light theme color */
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: block;
  }

  .hamburger {
    display: block;
    color: white;
  }
  .navbar.dark .hamburger {
    color: white; /* Dark theme color */
  }
  .navbar.light .hamburger {
    color: black; /* Light theme color */
  }

  .hamburger i {
    font-size: 24px; /* Reduced size for mobile */
  }

  /* Mobile Theme Switcher Styles */
  .theme-switch {
    width: 55px; /* Smaller size for mobile */
    height: 5px; /* Smaller size for mobile */
  }

  .theme-switch .slider:before {
    height: 18px; /* Smaller size for mobile */
    width: 18px; /* Smaller size for mobile */
  }
}
